<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="se.ntlv.newsbringer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".YcReaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_action_"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        android:fullBackupContent="false"
        >
        <activity
            android:name=".newsthreads.NewsThreadsActivity"
            android:label="@string/app_name">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".comments.CommentsActivity"
            android:label="@string/activity_comments_label"
            android:parentActivityName=".newsthreads.NewsThreadsActivity"
            tools:ignore="UnusedAttribute"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"
                />

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="news.ycombinator.com"
                    android:scheme="https"
                    />
                <data
                    android:host="news.ycombinator.com"
                    android:scheme="http"
                    />
            </intent-filter>
        </activity>

        <service
            android:name=".network.DataPullPushService"
            android:exported="false">
        </service>
        <provider
            android:authorities="se.ntlv.newsbringer.database.NewsContentProvider"
            android:name=".database.NewsContentProvider"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>
